.ArticleContainer{
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 10rem;
}
.ArticleHeaders{
     text-align: center;

     h1{
        font-size: 5rem;
        letter-spacing:2.5rem;
     }
     h2{
        font-size: 4.7rem;
        letter-spacing:2.2rem;

        &::first-letter{
            color: #fad4c0;
        }
     }
}
.ArticlePara{
  font-size: 1.3rem;
  color:#d2a981;
  text-align: center;
  width: 50%;
  line-height: 2rem;
  margin-top: 1rem;
  font-family: "Assistant", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

@media (min-width: 360px) and (max-width: 460px) {
   .ArticleHeaders h1 {
      font-size: 4rem; 
   }

   .ArticlePara {
      width: 90%; 
      font-size: 1.4rem; 
   }
}

@media (min-width: 461px) and (max-width: 760px) {
   .ArticleContainer{
      padding: 8rem;
   }
   .ArticleHeaders h1 {
      font-size: 5rem;
   }

   .ArticlePara {
      width: 100%;
      font-size: 1.6rem; 
   }
}

@media (min-width:761px) and (max-width:1024px){
   .ArticleContainer{
      .ArticlePara{
         width: 70%;
      }
   }
}
