.blogpostContainer{
   position: relative;
   margin-top: 3rem;
  min-width: 40rem;

}
.blogHeader{
    font-size: 2.8rem;
    text-align: center;

    span{
        font-weight: 100;
    }
}
.blogWrapper{
    display: flex;
    justify-content: end; 
    padding: 10rem ;
   position: relative;
   z-index: 1000;
   flex-wrap: nowrap;

   .blogBgdiv{
    width: 30rem;
    height: 30rem;

   &::before{
  content: '';
     width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #f3cab6;
     display: flex;
     align-items: center;
}
   }

.blogImage{
    width: 35%;
    height: 50%;
    position:absolute;
    left: 20%;
    top: 10%;
    z-index: 500;

    img{
        width: 100%;
        object-fit: cover;
    };
}
.blogContent{
   width: 35%;
   display: flex;
   align-items: center;
   z-index: 200;
   padding: 1rem;

}

.blogText{
   display: flex;
   gap: 2rem;
   flex-direction: column;
}

.blogTextPara{
  font-size: 1.4rem;
  padding-right: 3rem;
  font-family: "Assistant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.blogLink{
    p{
        font-size: 1.3rem;
        font-weight: 350;
        font-family: "Assistant", serif;


        a{
            color: black;
            text-decoration: none;
            border-bottom: 1px solid black;
        }
    }
}
.blogButton button{
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1.2px;
    background: #000;
    color: white;
    border: 0;

    transition: .5s all ease-in-out;

    &:hover{
        background: #f9e1d5;
       color: black;
    }
}

}


.blogCardsCon{
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    z-index: 300;
    margin-top: 1rem;
    
}
.blogCard{
   border: 2.5px solid  #f3cab6;
   width: 18%;
   background: white;
   padding:  1.4rem 1.7rem 2.3rem 1.7rem ;  
   h1{
     font-weight: 100;
     font-size: 1.7rem;
     margin-bottom: .8rem;
   }
   p{
    font-size: 1.1;
    word-spacing: 1px;
    padding-right: 1.5rem;
    font-family: "Assistant", serif;
    font-style: italic;
   }
}
.Avatar{
    width: 5rem ;
    height: 5rem;
   border-radius: 50%;
   background: #f9e1d5;
   color:rgb(196, 160, 114);
   font-size: 3.3rem;
   font-weight: 100;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: .8rem;
}

@media (min-width:1025px)and (max-width:1500px){
    .blogpostContainer{
        .blogWrapper{
            .blogBgdiv{
                 width: 25rem;
                 height: 25rem;
            }
            .blogImage{
                width: 37%;
                height: auto;
                left: 15%;
                top:14%;
            }
        }
    }
}
 @media  (max-width:1024px){
    .blogpostContainer{
        .blogWrapper{
            padding: 7rem;
        }
        .blogImage{
            width: 40%;
            height: auto;
            left: 15%;
            top:12%;
        }
        .blogCard{
            width: 22%;
            padding: 2rem;
        }
    }
 }
 @media  (max-width:767px){
    .blogpostContainer{
        .blogWrapper{
            padding: 6rem;
            flex-direction:column ;

         
        }
        .blogBgdiv{
            display: none;
        }
          .blogImage{
              width: 50%;
              height: 50%;
              position: static;
              z-index: 300;
              margin: auto;
          }
          .blogContent{
            width: 100%;
            text-align: center;
             display: flex;
             align-items: center;
             justify-content: center;
            .blogTextPara{
                padding: 0;
            }
          }
          .blogCardsCon{
            position: static;
            flex-wrap: wrap;
            .blogCard{
                width: 40%;

            }
          }
    }
 }