.blogpostContainer{
   position: relative;
   margin-top: 3rem;
}
.blogHeader{
    font-size: 2.8rem;
    text-align: center;

    span{
        font-weight: 100;
    }
}
.blogWrapper{
    display: flex;
    justify-content: end; 
    padding: 10rem ;
   position: relative;

   &::before{
  content: '';
  width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background: #f3cab6;
     display: flex;
     align-items: center;
   }


.blogImage{
    width: 46rem;
    height: 30rem;
    position:absolute;
    left: 14rem;
    top: 5rem;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover
    };

}
.blogContent{
   width: 35%;
   display: flex;
   align-items: center;
   z-index: 200;
   padding: 1rem;

}

.blogText{
   display: flex;
   gap: 2rem;
   flex-direction: column;
}

.blogTextPara{
  font-size: 1.4rem;
  padding-right: 3rem;
  font-family: "Assistant", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.blogLink{
    p{
        font-size: 1.3rem;
        font-weight: 350;
        font-family: "Assistant", serif;


        a{
            color: black;
            text-decoration: none;
            border-bottom: 1px solid black;
        }
    }
}
.blogButton button{
    padding: 1rem 3rem;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 1.2px;
    background: #000;
    color: white;
    border: 0;

    transition: .5s all ease-in-out;

    &:hover{
        background: #f9e1d5;
       color: black;
    }
}

}


.blogCardsCon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    z-index: 300;


}
.blogCard{
   border: 2.5px solid  #f3cab6;
   width: 18%;
   background: white;
   padding: 3rem 2rem 4rem ;

   h1{
     font-weight: 100;
     font-size: 1.8rem;
     margin-bottom: .8rem;
   }
   p{
    font-size: 1.2rem;
    word-spacing: 1px;
    padding-right: 1.5rem;
    font-family: "Assistant", serif;
    font-style: italic;
   }
}
.Avatar{
    width: 5rem ;
    height: 5rem;
   border-radius: 50%;
   background: #f9e1d5;
   color:rgb(196, 160, 114);
   font-size: 3.3rem;
   font-weight: 100;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: .8rem;

}

@media (min-width:360px) and (max-width:460px){
    .blogpostContainer{
        .blogWrapper{
            padding: 6rem;
          flex-direction: column;
        }
          .blogImage{
              width: 100%;
              position: static;
              display: flex;
              align-items: center;
              justify-content: center;
              img{
                width: 20rem;
                height: 20rem;
               border-radius: 50%;
              }
          }
          .blogBgdiv{
           display: none;
          }
          .blogContent{
            width: 100%;
          }
          
          .blogCardsCon{
            position: static;
            flex-wrap: wrap;
            .blogCard{
                width: 40%;

            }
          }
    }
 }
 @media (min-width:461px) and (max-width:760px){
    .blogpostContainer{
        .blogWrapper{
            padding: 6rem;
          flex-direction: column;
        }
          .blogImage{
              width: 100%;
              position: static;
              display: flex;
              align-items: center;
              justify-content: center;
              img{
                width: 25rem;
                height: 25rem;
               border-radius: 50%;
              }
          }
          .blogBgdiv{
           display: none;
          }
          .blogContent{
            width: 100%;
          }
          
          .blogCardsCon{
            position: static;
            flex-wrap: wrap;
            .blogCard{
                width: 40%;

            }
          }
    }
 }
 @media (min-width:761px) and (max-width:1024px){
    .blogpostContainer{
        .blogWrapper{
            padding: 7rem;
        }
        .blogImage{
            width: 38%;
            height: auto;
            left: 16rem;
            top:auto;
        }
        .blogBgdiv{
            width: 34rem;
            height: 34rem;
          }
        .blogCard{
            width: 20%;
            padding: 2rem;
        }
    }
 }
 @media (min-width:1025px) and (max-width:1279px){
    .blogpostContainer{
        .blogWrapper{
            padding: 8rem;
        }
        .blogImage{
            width: 40%;
            height: auto;
            left: 14rem;
            top: 8rem;
        }
        .blogBgdiv{
            width: 40rem;
            height: 40rem;
          }
       
    }
}
@media (min-width:1280px) and (max-width:1500px){
    .blogpostContainer{
        .blogWrapper{
            padding: 10rem;
        }
        .blogImage{
            width: 45%;
            height: auto;
            left: 10rem;
            top: 10rem;
        }
        .blogBgdiv{
            width: 45rem;
            height: 45rem;
          }
       
    }
}
@media (min-width:1501px) and (max-width:1750px){
    .blogpostContainer{
        .blogWrapper{
            padding: 10rem;
        }
        .blogImage{
            width: 45rem;
            left: 7rem;
            top:auto;
        }
        .blogBgdiv{
            width: 40rem;
            height: 40rem;
          }
       
    }
}