.ContactContainer{
  display: flex;
  position: relative;
  min-width: 40rem;


  &::after{
   content: '';
   width: 40%;
   background:  #f3cab6;
  }
}
.contactWrapper{
     width: 60%;
     background: #f9e1d5;
     padding: 8% 12%;     

     .Wrapperdiv{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap:5.5rem;

     .location{
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
         h1{
            font-size:1.8rem;
            font-weight: 100;
            letter-spacing: 3px;
            text-transform: uppercase;
         }
         p{
            font-size: 1.5rem;
            font-weight: 300;
            word-spacing: 1px; 
             font-family: "Assistant", serif;
            font-optical-sizing: auto;
            font-style: normal;
         }
     }

     .socialMedia{
        display: flex;
        flex-direction: column;
        gap: 1.7rem;

        h1{
            font-size:1.8rem;
            font-weight: 100;
            letter-spacing: 3px;
            text-transform: uppercase;
         }
         .socialIcons{
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            gap: 1rem;

            span{
               padding: .3rem;
               display: flex;
               align-items: center;
               justify-content: center;
               transition: .5s all ease-in-out;
               border-radius: 50%;
   
   
               }
              span:hover{
               background: #000;
               color: white;
               transform: translateY(-10px);
              }
          
            span{
                background: #000;
                color: #f9e1d5;
                border-radius: 50%;
                padding: .4rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
            }
         }
         .ContactLink{
            p{
                font-size: 1.4rem;
                font-weight: 100;
                font-family: "Assistant", serif;
                font-optical-sizing: auto;
                font-style: normal;
             

                a{
                  color: black;
                  text-decoration: none;
                  border-bottom: 1px solid black;
                }
            }
         }
         .copyright{
            font-size: 1.4rem;
            font-weight: 100;

            p{
                display: inline-flex;
            }
         }
     }
             
    }
}

.contactImage{
    width: 42%;
    height: 80%;
    right: 14rem;
    position: absolute;
    top: 10%;

    img{
      width: 100%;
      height: 100%;
    }
}

@media  (max-width:1024px){
   .contactWrapper
   {
       padding: 8rem;
   }
   .contactImage{
      top: 20%;
   height: 60%;
   bottom: 20%;
   }
}


@media (max-width:760px){
   .contactWrapper
   {
       padding: 4rem;
      
       .Wrapperdiv{
         width: 65%;
       }
   }
  
   .contactImage{
      top: 25%;
      right: 12%;
   height: 50%;
   bottom: 25%;
   }
}

