.Footer{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 6rem;
     background:rgb(56, 56, 56);
     padding: 4rem;
     font-family: "Assistant", serif;
     font-optical-sizing: auto;
     font-style: normal;
     word-spacing: 1px;
  

     p{  
         color: white;
        font-size: 1.2rem;

        a{
          color: #f9e1d5;
        }
     }

     p:nth-child(1){
        width: 30%;
        text-align: center;
     }
}
